@font-face {
  font-family: 'sf ui display';
  src: url('../fonts/sf-ui-display-ultralight.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'sf ui display';
  src: url('../fonts/sf-ui-display-thin.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'sf ui display';
  src: url('../fonts/sf-ui-display-light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'sf ui display';
  src: url('../fonts/sf-ui-display-regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'sf ui display';
  src: url('../fonts/sf-ui-display-medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'sf ui display';
  src: url('../fonts/sf-ui-display-semibold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'sf ui display';
  src: url('../fonts/sf-ui-display-bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'sf ui display';
  src: url('../fonts/sf-ui-display-heavy.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'sf ui display';
  src: url('../fonts/sf-ui-display-black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}

/* Apply the font globally */
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

.navbar-collapse {
  z-index: 1050 !important;
  background-color: white; /* Matches your navbar */
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  background-color: white ;
  position: absolute;
}

.navbar-collapse.collapsing {
  transition: height 0.3s ease;
}
.navbar {
  overflow: visible !;
  position: absolute;
}


